name: Build one-api

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build one-api
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
          node-version: 16
          
    - name: Clone Repo
      run: |
          export LATEST_APP=$(wget -qO- https://api.github.com/repos/songquanpeng/one-api/tags | jq -r '.[0].name')
          git clone -b $LATEST_APP https://github.com/songquanpeng/one-api

    - name: Build Frontend
      env:
        CI: ""
      run: |
          cd one-api/web
          git describe --tags > VERSION
          REACT_APP_VERSION=$(git describe --tags) chmod u+x ./build.sh && ./build.sh
          cd ../..

    - name: Build one-api
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        release: 13.2
        prepare: |
          pkg install -y wget curl git gcc bash gawk gsed
          wget https://dl.google.com/go/go1.23.4.freebsd-amd64.tar.gz && tar -C /usr/local -xzf go1.23.4.freebsd-amd64.tar.gz && rm go1.23.4.freebsd-amd64.tar.gz
          ln -s /usr/local/go/bin/go /usr/local/bin/go
        run: |
          git config --global --add safe.directory /home/runner/work/one-api-freebsd/one-api-freebsd/one-api
          cd one-api
          go mod download
          go build -ldflags "-s -w -X 'github.com/songquanpeng/one-api/common.Version=$(git describe --tags)' -extldflags '-static'" -o one-api
          
    - name: Upload artifact
      uses: actions/upload-artifact@main
      with:
        name: one-api-freebsd
        path: |
            one-api/one-api

    - name: Generate release tag
      id: tag
      run: echo "release_tag=$(wget -qO- https://api.github.com/repos/songquanpeng/one-api/tags | jq -r '.[0].name')" >> $GITHUB_OUTPUT

    - name: Create release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        files: |
              one-api/one-api
              
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{ github.token }}
        repository: ${{ github.repository }}
        retain_days: 1
        keep_minimum_runs: 8
